.navbar {
    background-color: olivedrab;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar_title {
    font-size: 20px;
    color: white;
    flex-direction: row;
}

.admin_buttons, .user_buttons, .logout_button {
    flex-direction: row;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 30px;
}